/* Start of Variables */
:root {
  --main-color: #19c8fa;
  --secondary-color: #2c4755;
  --background-color: #f6f6f6;
  --transparent-color: rgb(15 116 143 / 70%);
}
/* End of Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Open Sans", sans-serif;
}

p {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* الأساس اللي بيتبني عليه الـ rem */
}

a {
  text-decoration: none; /* يشيل الخط اللي تحت اللينكات */
  color: inherit; /* يخلي لون اللينك زي النص */
}

ul, ol {
  list-style: none; /* يشيل النقاط أو الأرقام الافتراضية */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section:not(.landing) {
  padding-top: 60px;
  padding-bottom: 60px;
}

.special-heading {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
}
.special-heading::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.special-heading::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #333;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
}
.special-heading + p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
/* End Global Rules */

/* Start Header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header nav {
  flex: 1;
  display: flex;
  gap: 30px;
  color: white;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  transition-duration: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  border-left: 1px solid white;
}
header nav .form i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.landing header .menu {
    display: none;
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
  background-image: url(/images/landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
}
.landing .circles {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.landing .circles .circle {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 50%;
}
.landing .circles .circle:nth-child(2) {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.landing .left-arrow,
.landing .right-arrow {
  color: white;
}
.landing .left-arrow {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.landing .right-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.landing-text {
  position: absolute;
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  top: 50%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing-text .landing-texting {
  width: 500px;
}
.landing-text h2 {
  font-size: 32px;
  padding-bottom: 30px;
  font-weight: normal;
  line-height: 1.5;
}
.landing-text p {
  font-size: 14px;
  line-height: 2.0;
}
/* End Landing */

/* Start Services */
.services .container .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}
.services .container .services-grid .grid-cell {
  display: flex;
  gap: 30px;
}
.services .container .services-grid .grid-cell .grid-text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .container .services-grid .grid-cell .grid-text p {
  line-height: 2;
  color: #777;
}
/* End Services */

/* Start Design */
.design {
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .design-box {
  flex: 1;
  position: relative;
  /* right: 0; */
  background-color: var(--transparent-color);
  padding: 50px;
}
.design .image {
  flex: 1;
  position: relative;
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .design-box .design-text {
  color: white;
}
.design .design-box .design-text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .design-box .design-text .design-texting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.design .design-box .design-text .design-texting i {
  font-size: 16px;
}
.design .design-box .design-text .design-texting .cell {
  display: flex;
  gap: 15px;
  align-items: center;
}
/* End Design */

@media (max-width: 768px) {
  .landing .landing-text {
    width: 100%;
    justify-content: left;
  }
  .landing .left-arrow, .landing .right-arrow {
    display: none;
  }
  .landing .landing-text .landing-texting {
    width: 100%;
  }
  .landing header .menu {
    display: block;
  }
  .landing header ul {
    display: none;
  }
  .landing header .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: calc(100% - 28px);
    background-color: rgb(0 0 0 / 50%);
  }
  .landing header .menu:hover + ul li a {
    padding: 13px;
  }
  .landing header .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .services .container .services-grid .grid-cell {
    flex-direction: column;
    text-align: center;
  }
  .design .image {
    display: none;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}